@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/theo-van-doesburg');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Canterbury';
  src: url('/fonts/Canterbury.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Theo Van Doesburg';
  src: url('/fonts/Theo.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --family-canterbury: 'Canterbury', serif;
  --family-theo: 'Theo Van Doesburg', sans-serif;
}

.font-canterbury {
  font-family: var(--family-canterbury) !important;
}

.font-theo {
  font-family: var(--family-theo) !important;
}

.font-leckerli-one {
  font-family: var(--font-leckerli-one) !important;
}

body {
  font-family: var(--font-bodoni-moda);
}

div#main {
  background-image: url('/images/velvet.webp');
  background-repeat: round;
  background-size: contain;
}

h2 {
  @apply font-leckerli-one !text-[#d984ec] tracking-[1.5px];
}
