@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/theo-van-doesburg');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Canterbury';
  src: url('/fonts/Canterbury.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Theo Van Doesburg';
  src: url('/fonts/Theo.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --family-canterbury: 'Canterbury', serif;
  --family-theo: 'Theo Van Doesburg', sans-serif;
}

.font-canterbury {
  font-family: var(--family-canterbury) !important;
}

.font-theo {
  font-family: var(--family-theo) !important;
}

.font-leckerli-one {
  font-family: var(--font-leckerli-one) !important;
}

body {
  font-family: var(--font-bodoni-moda);
}

div#main {
  background-image: url('/images/velvet.webp');
  background-repeat: round;
  background-size: contain;
}



.neon-text {
  letter-spacing: 0.1em;
  color: #d984ec;
  text-shadow:
    0 0 3px #d984ec,
    0 0 6px #d984ec,
    0 0 10px #d984ec,
    0 0 15px #d984ec;
}

.neon-container {
  position: relative;
}

.neon-container::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: radial-gradient(circle, #d984ec 0%, transparent 70%);
  border-radius: 20px;
  z-index: -1;
}




h2 {
  @apply neon-text font-leckerli-one text-[#d984ec] tracking-[1.5px];
}
